@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }
  .myModal {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    width: 30rem;
    z-index: 10;
    position: fixed;
    left: calc(50% - 15rem);
  }
  .buttons{
    
    position: relative;
    display: flex;
    width: 20rem;
  align-items: center;
  left: 2.5rem;
   
    
    justify-content: space-evenly; 
  }